@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

h4 {
  position: absolute;
  top: -40px;
  left: 5px;
}

#changemode {
  position: absolute;
  left: 340px;
}

#e3-2018 {
  height: 100px;
  width: 125px;
  background: linear-gradient(to bottom, #c2c2c2 0%, #adadad 100%);
  border-radius: 10px;
  font-size: 30px;
  top: 40px;
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
}

#e3-2006 {
  height: 100px;
  width: 125px;
  background: linear-gradient(to bottom, #c2c2c2 0%, #adadad 100%);
  border-radius: 10px;
  font-size: 30px;
  text-align: left;
  position: absolute;
    top: 40px;
  left: 150px;
  font-family: 'Noto Sans KR', sans-serif;
}

#mainText {
  font-family: 'Noto Sans KR', sans-serif;
  position: absolute;
  top: 150px;
}
