@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

h4 {
  position: absolute;
  top: -40px;
  left: 5px;
}

#E3Text {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	position: absolute;
  	top: 145px;
  	left: 23px;
	font-size: 30px;
}

body {
  background-color: white;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

#home {
	position: absolute;
	top: 20px;
	left: 10px;
}

#changemode {
	position: absolute;
	top: 20px;
	left: 75px;
}

#secret {
	position: absolute;
	top: 20px;
	left: 150px;
}

#e3-2006 {
  height: 100px;
  width: 125px;
  background: linear-gradient(to bottom, #c2c2c2 0%, #adadad 100%);
  border-radius: 10px;
  font-size: 30px;
  text-align: left;
  position: absolute;
  top: 75px;
  left: 30px;
  font-family: 'Noto Sans KR', sans-serif;
}

#e3-2010 {
  height: 100px;
  width: 125px;
  background: linear-gradient(to bottom, #c2c2c2 0%, #adadad 100%);
  border-radius: 10px;
  font-size: 30px;
  top: 75px;
  left: 180px;
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
}

#e3-2018 {
  height: 100px;
  width: 125px;
  background: linear-gradient(to bottom, #c2c2c2 0%, #adadad 100%);
  border-radius: 10px;
  font-size: 30px;
  top: 75px;
  left: 330px;
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
}

#mainText {
	position: absolute;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: right;
	word-break: normal;
	width: 800px;
	left:600px;
	top:200px;
}